@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}
header,
main,
footer {
    margin: 0;
    border: none;
    padding: 1rem;
}
main {
    background-color: rgb(204, 203, 203);
    justify-items: center;
}
header {
    margin-top: 0;
    background-color: navy;
    color: #ccc;
    justify-items: center;
}
.photos {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 40px;
}
h1 {
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
    border: 5px solid white;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
    object-fit: cover;
}
nav a {
    padding: 20px;
    color: #ccc;
    display: block;
    text-decoration: none;
}
.hide {
    display: none;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #ccc;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: #ccc;
    margin: 5px 0;
    transition: 0.4s;
}
.change .bar1 {
  transform: translate(0, 9px) rotate(-45deg);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
  transform: translate(0, -9.5px) rotate(45deg);
}
footer {
    text-align: center;
    background-color: navy;
    color: #ccc;
}

/* modal */
dialog img {
    width: 90%;
    display: block;
    margin: 20vh auto;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}

@media screen and (min-width: 700px) {
    .photos {
        grid-template-columns: 1fr 1fr;
    }
    .menu-btn {
        display: none;
    }
    nav a {
        display: inline;
    }
    .hide {
        display: block;
    }
}

@media screen and (min-width: 1000px) {
    .photos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}