body {
    text-align: center;
    background-color: aliceblue;
}
h1, h2, p {
    font-family: "Times New Roman", serif;
}
h1 {
    font-size: 250%;
    margin: 0;
}
h2 {
    font-size: 110%;
    color: rgb(94, 94, 208);
    margin-bottom: 0px;
    padding-bottom: 0px;
}
hr {
    margin-top: 0px;
    padding-top: 0px;
}
#container {
    margin: 40px auto;
    padding: 90px;
    max-width: 600px;
    outline: 1px solid black;
}
li {
    text-align: left;
    padding: 10px;
}
p {
    text-align: left;
}
.italic-text {
    font-style: italic;
}
img {
    width: 30%;
}

select {
    position: absolute;
    top: 10px;
    left: 10px;
}